.blog-list {
  width: 95%;
  margin: 2em auto;
  /* background: #ffffff; */
  background-color: var(--c4);
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.blog-list h4:hover {
  text-shadow: 0 0 10px var(--c3);
  cursor: default;
}
.blog-list-item {
  /* background: var(--c4); */
  background: #000000;
  display: flex;
  padding: 0.5em 0 0.5em 0.5em;
  width: 100%;
  margin: auto;
  margin-bottom: 1em;
  box-shadow: black 0 0 10px;
  border: black 2px solid;
}
.blog-list-item:hover {
  border: var(--c3) 2px solid;
  box-shadow: 0 0 10px var(--c3);
  cursor: default;
}
@media (max-width: 1000px) {
  .blog-list {
    width: 100%;
    padding: 0.25em;
  }
  .blog-list-item {
    width: 100%;
  }
}
.blog-list-image {
  width: 10%;
  min-width: 100px;
  object-fit: cover;
}
.blog-list-content {
  width: 90%;
}
.blog-list-upper {
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
  border-bottom: var(--c2) 1px solid;
}
.blog-list-title {
  height: fit-content;
  color: var(--c3);
}
.blog-list-button {
  height: fit-content;
  margin: auto 0;
  margin-bottom: 1em;
  padding: 1em;
  border: 0;
  color: var(--c4);
  background-color: var(--c2);
  box-shadow: 0 0 3px var(--c2);
}
@media (max-width: 600px) {
  .blog-list-button {
    padding: 0.5em;
    height: fit-content;
  }
}
.blog-list-button:hover {
  background-color: var(--c3);
  color: var(--c2);
  box-shadow: 0 0 5px var(--c3);
}
.blog-list-lower {
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.blog-list-snippet {
  width: fit-content;
  color: #ffffff;
  margin: 0;
}
.blog-list-author {
  width: fit-content;
  color: #ffffff;
  margin-bottom: 0;
}
.blog-list-lower {
  font-weight: 600;
}
.blog-list-lower span {
  color: var(--c2);
  text-shadow: 0 0 2px;
  font-weight: 600;
}
.blog-list-lower p:hover,
.blog-list-title {
  text-shadow: 0 0 2px;
}
