main {
  width: 100%;
}
.home {
  width: 100%;
  background-color: var(--c2);
  padding: 1em;
}
.home-image {
  width: 50%;
  margin: auto;
}
.home-content {
  padding: 1em;
  display: flex;
}
.home-content p {
  width: 45%;
  margin: auto;
  font-weight: 600;
  font-size: 1.5rem;
  padding: 1em;
  background-color: black;
  color: var(--c3);
  box-shadow: black 0 0 10px;
  cursor: pointer;
}
.home h1 {
  color: var(--c1);
  text-align: center;
}
@media (max-width: 650px) {
  .home-content {
    flex-direction: column-reverse;
  }
  .home-content p {
    width: 100%;
  }
  .home {
    padding: 0;
  }
}
