/* misc section */

:root {
  --c1: #d9d9d9;
  --c2: #e88a1a;
  --c3: #cf3030;
  --c4: #141414;

  /* secondary */
  --c5: #d82e3f;
  --c6: #ffe135;
  --c7: #28cc2d;
  --c8: #3581d8;
}
body {
  padding: 0;
  margin: 0;
  color: var(--c2);
  background: var(--c1);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* header section */

@import "./css/Nav.css";
/* main content section */
.home-image {
  width: 50%;
}
/* admin section */

@import "./css/Admin.css";
/*blog*/
@import "./css/Blog.css";
/*blog-view*/

/* footer section */
footer {
  margin-top: auto;
  background-color: var(--c4);
  padding: 2em;
  text-align: center;
}
